html { 
     box-sizing: border-box; 
 }
*, *:before , *:after { 
     box-sizing: inherit; 
 }
 img{
     max-width: 100%;
 }
 body{
    font-family: Mukta-Regular;
}
 /* FUENTES */
.fuente-1{
    font-family: Mukta-Bold ;
}
.fuente-2{
    font-family: Mukta-Regular ;
}
.fuente-3{
    font-family: OpenSans-Regular;
}
.fuente-4{
    font-family:  Hind-Bold;
}
/* COLORES */
.text-white{
    color: white;
   }
   .bg-white{
       background: white;
   }
   .bg-gris{
       background: #afadad;
   }
   .bg-fondo{
    background-color: #e9e8f1;
   }
   .bg-black{
       background-color: rgb(15, 14, 14);
   }
   .bg-trans{
    background: rgba(0, 0, 0, .9);
   }
 /*  */

/* empieza codigo personalizado */
/* Header************************************************************** */
 .logo{
    font-size: 150%;
    color: black;
   }
   .carousel-item img{
       height: 80vh;
       width: 100%;  
   }
   .carousel-item {
       background-size: cover;
       background-position: center center;
   }
   .carousel-item::before{
    background: rgba(0, 0, 0, .8); 
     content: '';
     height: 100%;
     width: 100%;
     position: absolute;
     }
     .carousel-indicators li{
        width: 15px;
        height: 15px;
        border-radius: 100%;
    }
    .iconsig{
        font-size: 150%;
    }

    @media only screen and (min-width: 768px ) {
        .iconsig{
            font-size: 250%;
        }
        .carousel-caption h2{
           font-size: 400%;
        }
        .card:hover {
         transform: scale(1.1);
        }
     }

     .slider-1{
        background-image: url(../img/slider_01.jpg);
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    .slider-2{
     background-image: url(../img/slider_02.jpg);
     background-position: center center;
     background-size: cover;
     width: 100%;
     height: 100%;
 }
   .slider-3{
     background-image: url(../img/slider_03.jpg);
     background-position: center center;
     background-size: cover;
     width: 100%;
     height: 100%;
 }
.nav-item a:hover{
       background:  #343a40;
       border-top-left-radius: 20px;
       border-bottom-right-radius: 20px;
   }
   .nav-link:hover{
       color: #fff !important;
   }
   /* TERMINA EL HEADER O ENCABEZADOD************************************************************* */

   /* PRINCIPAL ***********************************************************************************/
   .servicios{
       background-color: #efefef;
       display: flex;
       justify-content: space-around;
   }
    .hico:hover{
    transform: rotate(360deg);
    transition: all ease-in-out .5s;
    }
/* LAS 3 IMAGENES */
.alto-imagen{
    height: 300px;
    filter: brightness(.6)
}
/* SECCION DE REDES SOCIALES Y CONTACTO*/
.fondo::before{
background-image: url(../imagenes/bg01.png);
content: '';
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
}
.contacto span{
    color: chocolate;
}

/* COMIENZA ESTILOS DE LA PAGINA NOSOTROS */
.tarjeta{
    height: 170px;
    width: 40%;
}
@media (max-width: 768px) {
    .tarjeta{
        height: 170px;
        width: 45%;
    }
    .tarjeta img{
        height: 10%;
    }
}
@media only screen and (min-width: 768px ) {
        /* DEfinimos un ancho a la foto de perfil */
        .perfil{
            width: 20%;
        }
}

/* COMIENZA ESTILOS DE LA PAGINA SERVICIOS */
.rota:hover{
    transform: rotate(360deg)!important;
    transition: all ease-in-out .5s!important;
}
/* COMIENZA ESTILOS DE LOS JAVASCRIPT */
#errorNombre, #errorNombre, #errorTelefono, #errorCorreo, #errorMensaje{
    color: red;
    font-size: 14px;
    font-style: italic;
}
/* CArrucel */
.carousel-fade{
    transform: translateX(1)!important;
    transform: translate3d(1, 1, 1)!important;
}
.politica{
    font-size: 19px;
    padding: 10px;
}



