               /*fuente Nunito****************************************************************/ 
@font-face { /* Fuente regular */
    font-family: Nunito-regular;
    src: url(fuentes/Nunito-Regular.ttf);
}

@font-face {
    font-family: Nunito-Black ;
    src: url(fuentes/Nunito-Black.ttf);
}
@font-face {
    font-family: Nunito-BlackItalic ;
    src: url(fuentes/Nunito-BlackItalic.ttf);
}
@font-face {
    font-family: Nunito-Bold ;
    src: url(fuentes/Nunito-Bold.ttf);
}
@font-face {
    font-family: Nunito-BoldItalic ;
    src: url(fuentes/Nunito-BoldItalic.ttf);
}
@font-face {
    font-family: Nunito-ExtraBold ;
    src: url(fuentes/Nunito-ExtraBold.ttf);
}
@font-face {
    font-family: Nunito-ExtraBoldItalic ;
    src: url(fuentes/Nunito-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: Nunito-ExtraLight ;
    src: url(fuentes/Nunito-ExtraLight.ttf);
}
@font-face {
    font-family: Nunito-ExtraLightItalic ;
    src: url(fuentes/Nunito-ExtraLightItalic.ttf);
}
@font-face {
    font-family: Nunito-Italic ;
    src: url(fuentes/Nunito-Italic.ttf);
}
@font-face {
    font-family: Nunito-Light ;
    src: url(fuentes/Nunito-Light.ttf);
}
                /* FUENETE HIND *************************************************************** */
@font-face {
    font-family: Hind-Bold ;
    src: url(fuentes/Hind-Bold.ttf);
}

@font-face {
    font-family: Hind-Light ;
    src: url(fuentes/Hind-Light.ttf);
}
@font-face {
    font-family: Hind-Medium ;
    src: url(fuentes/Hind-Medium.ttf);
}
@font-face {
    font-family: Hind-Regular ;
    src: url(fuentes/Hind-Regular.ttf);
}

            /* FUENTE INCONSOLATA ****************************************************************/
@font-face {
    font-family: Inconsolata-Bold ;
    src: url(fuentes/Inconsolata-Bold.ttf);
}
@font-face {
    font-family: Inconsolata-Regular ;
    src: url(fuentes/Inconsolata-Regular.ttf);
}

                /*FUENTE KARLA  ****************************************************************/
@font-face {
    font-family: Karla-Bold ;
    src: url(fuentes/Karla-Bold.ttf);
}
@font-face {
    font-family: Karla-BoldItalic ;
    src: url(fuentes/Karla-BoldItalic.ttf);
}
@font-face {
    font-family: Karla-Regular ;
    src: url(fuentes/Karla-Regular.ttf);
}
@font-face {
    font-family: Karla-Italic ;
    src: url(fuentes/Karla-Italic.ttf);
}

            /*FUENTE MUKTA  ****************************************************************/
@font-face {
    font-family: Mukta-Bold ;
    src: url(fuentes/Mukta-Bold.ttf);
}
@font-face {
    font-family: Mukta-ExtraBold ;
    src: url(fuentes/Mukta-ExtraBold.ttf);
}
@font-face {
    font-family: Mukta-Medium ;
    src: url(fuentes/Mukta-Medium.ttf);
}
@font-face {
    font-family: Mukta-Regular ;
    src: url(fuentes/Mukta-Regular.ttf);
}

            /* FUENTE  OPEN-SANS *************************************************** */
@font-face {
    font-family: OpenSans-Bold ;
    src: url(fuentes/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Italic ;
    src: url(fuentes/OpenSans-Italic.ttf);
}
@font-face {
    font-family: OpenSans-Regular ;
    src: url(fuentes/OpenSans-Regular.ttf);
}

                /*FUENTE QUICKSAND **********************************************************  */
@font-face {
    font-family: Quicksand-Bold ;
    src: url(fuentes/Quicksand-Bold.ttf);
}
@font-face {
    font-family: Quicksand-Light ;
    src: url(fuentes/Quicksand-Light.ttf);
}
@font-face {
    font-family: Quicksand-Regular ;
    src: url(fuentes/Quicksand-Regular.ttf);
}

            /* FUENTE RELEWAY *********************************************************************/
@font-face {
    font-family: Raleway-Black ;
    src: url(fuentes/Raleway-Black.ttf);
}
@font-face {
    font-family: Raleway-Bold ;
    src: url(fuentes/Raleway-Bold.ttf);
}
@font-face {
    font-family: Raleway-Medium ;
    src: url(fuentes/Raleway-Medium.ttf);
}
@font-face {
    font-family: Raleway-Italic ;
    src: url(fuentes/Raleway-Italic.ttf);
}
@font-face {
    font-family: Raleway-Regular ;
    src: url(fuentes/Raleway-Regular.ttf);
}


/*  
font-family: Nunito-regular;
font-family:  Hind-Regular;
font-family: Inconsolata-Regular;
font-family: Karla-regular;
font-family: Mukta-Regular;
font-family: OpenSans-Regular;
font-family: Quicksand-Regular ;
font-family: Raleway-Regular;
*/




